.products__header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0;

}

.products__container{
  background-color: #fff;
  padding: 1rem;
}
.error__msg{
  color: rgb(188, 29, 29);
  text-align: center;
}
